.exportDiv{
    float: right;
    text-align: left;
    font-size: 18px
    letter-spacing: 0px;
    color: #272727;
    opacity: 0.5;
	margin-top: 10px;
}

.textdealimage{
	display:block;
	font-size: 15px;
}
.imageupload{
	font-size: 110px;
}
.exportDiv span:first-child{
	margin-right:40px;
}
.exportDiv i {
	font-size: 18px;
	margin-right: 3px;
}
.createlink{
	float:left;
	margin-left:4%;
	letter-spacing: 0px;
	color: #4B4B4B;
	opacity: 1;
	font-size:18px;
	}
.createlink i{
	FONT-SIZE: 22PX;
    vertical-align: bottom;
}
.createlink a, .ResetDel button{
letter-spacing: 0px;
color: #4B4B4B;
opacity: 0.5;
}
.ResetDel{
	float:right;
	letter-spacing: 0px;
	color: #4B4B4B;
	opacity: 1;
	font-size:18px;
	margin-right: 5%;
}
.ResetDel i{
	vertical-align: bottom;
}
.objectcoupons
{
width: 100%;
height: 133px;
background-image: url("img/blankcoupons/Things_to_do.png");
position: relative;
background-size: contain;	
}
.imgclass
{
width: 54px;
height: 40px;
background: red;
position: absolute;
left: 13px;
top: 10px;
}

.namedd
{
width: 140px;
left: 67px;
top: 11px;
position: absolute;
height: 27px;
overflow: auto;
}
#output1{
	width: 100%;
    position: absolute;
    height: 100%;
    float: left;
    left: 0px;
	z-index: -2;
	visibility: hidden;																
    top: 0;
    border: none;
    object-fit: contain;
}
#createnewcouponsbtn{
    border: none;
    font-size: 15px;
    color: black;
	background: none;
    font-weight: 400;
    border-radius: 19px;
    right: 24%;
    margin-top: 0%;
    color: ;
    color: #0a0a0a; display: none;
}
#delete{
	background: none;
    border: none;
    font-size: 15px;
    color: black;
    font-weight: 400;
    border-radius: 19px;
    right: 24%;
    margin-top: 0%;
    color: ;
    color: #0a0a0a;
}
#createnewcouponsdeals{
    border: none;
	background: none;
    font-size: 15px;
    color: black;
    font-weight: 400;
    border-radius: 19px;
    right: 24%;
    margin-top: 0%;
    color: #0a0a0a; display: none;
}
#createnewcouponsbtn22{
    border: none;
    font-size: 15px;
    color: black;
    font-weight: 400;
    border-radius: 19px;
    right: 24%;
    margin-top: 0%;
    color: ;
    color: #0a0a0a;
	background: none;
}
#restbtnop{
    border: none;
	background: none;
    font-size: 15px;
    color: black;
    font-weight: 400;
    border-radius: 19px;
    right: 10%;
    margin-top: 0%;
    color: ;
    color: #0a0a0a;
	margin-right:12px;
}
#imagesearch2{
	width: 10%;
    margin-left: -74px;
    height: 39px;
    background: none;
    border: none;
    color: #0c0b0b;
    position: absolute;
    font-size: 17px;
}
#logodelcalls{
	width: 152px;
    background: red;
    border: none;
    height: 36px;
    position: absolute;
    right: 79px;
    color: white;
    font-size: 16px;
    border-radius: 18px;
}
#dl-logo-submit{
	width: 8%;
    height: 39px;
    background: none;
    border: none;
    margin-left: -69px;
    position: absolute;
    color: #0c0b0b;
    font-size: 17px;
}
#dllogosearch{
	width: 65%;
    border-radius: 19px;
    border: 1px solid;
    padding-left: 20px;
    height: 39px;
}
#searhdata2{
	width: 65%;
    padding-left: 14px;
    height: 39px;
    border-radius: 21px;
    border: 1px solid black;
}
#removeselted{
	   position: absolute;
    right: 42%;
    width: 125px;
    border: none;
    top: 8px;
    color: white;
    background: red;
    height: 33px;
    display: none;
}
#submitBtn{
	width: 20%;
    height: 36px;
    background: #23abe0;
    color: white;
    border: none;
    position: absolute;
    right: 38%;
    top: 80%;
    bottom: 10px;
    border-radius: 30px;
}
#localsbtdeals4{
	width: 20%;
    height: 36px;
    background: #23abe0;
    color: white;
    border: none;
    position: absolute;
    right: 38%;
    bottom: 1px;
    border-radius: 30px; display: none;
}
#sbtdeals4{
	width: 20%;
    height: 36px;
    background: #23abe0;
    color: white;
    border: none;
    position: absolute;
    right: 38%;
    bottom: 10px;
    border-radius: 30px; display: none;
}
#delitemdeals{
	position: absolute;
    right: 41%;
    width: 120px;
    border: none;
    top: 8px;
    color: white;
    background: #23abe0;
    height: 33px;
    display: none;
}
#cropimagewebslct{
	position: absolute;
    right: 61%;
    width: 124px;
    border: none;
    top: 8px;
    color: white;
    background: red;
    height: 33px;
    display: none;
}
#searchtextfild{
    margin-top: 21px;
    width: 100%;
    height: 45px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 6px;
	padding-left: 10px;
}
#searchdeals{
	width: 100%;
    height: 39px;
    margin-top: 21px;
    border: none;
    padding-left: 10px; display: none;
}
#getimgloclinmodule{
	position: absolute;
   right: 59%;
    width: 117px;
    border: none;
    top: 8px;
    color: white;
    background: #23abe0;
    height: 33px;
    display: none;
}
#addnewplacezipcode{
    border: none;
    background: #d5d5d5;
    font-size: 16px;
    color: black;
    font-weight: 400;
    border-radius: 19px;
    color: #060606;
	width: 498px;
    height: 53px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #0000000F;
    border-radius: 10px;
    opacity: 0.7;
	text-align:left;
	padding-left: 21px;

}
#addnewplacezipcode i {
	    float: right;
    font-size: 26px;
    margin-right: 29px;
    opacity: 0.3;
}
#expiraydate2{
	height: 19px;
    width: 36%;
    margin-top: 13px;
    position: absolute;
    left: 37%;
    bottom: -21px;
    padding-bottom: 15px;
    font-size: 37px;
    border: none; float:right;
}
#cmraeditlogo{
width: 8%;

position: absolute;
left: 48%;
top: 85%;
bottom: 16%;
z-index: 4;
bottom: 7px; visibility: hidden;
}
#output{
	width: 100%;
	position: absolute;
	height: 100%;
	float: left;
	left: 0px;
	visibility: hidden;
	z-index: -2;
	top: 0;
	border: none;
	object-fit: contain;
	background: white;"
}
#entcname{
	width: 98%;
    height: 55px;
    padding-left: 0px;
    border: none;
    font-size: 33px;
    background: white;
    position: absolute;
    visibility: hidden;
}
.input-search-new
{
width: 100%;
height: 59px;
margin-top: 0px;
border-radius: 0px;
border: none;
background: #ffffff;
text-align: left;
font-size: 26px;
}

.input-search-new::placeholder
{
font-size: 24px;
}
.loader
{
width: 100%;
height: 168vh;
position: absolute;
background:rgba(0,0,0,0.6);
display: none;
z-index: 10;
top: 0;
text-align: center;
}

#dynic-dlimagelist
{
list-style: none;
}
.input-search
{
width: 60%;
height: 44px;
margin-top: 12px;
border-radius: 20px;
padding-left: 17px;
border: none;
background: #e0dfdf;
text-align: left;
}
.bodysearch
{
	width: 101%;
height: 124vh;
background: white;
position: absolute;
z-index: 3;
padding: 0px;
display: none;
margin: 0px;
margin-left: -28px;
text-align: center;

}
.rigtimage
{
width: 110px;
right: 13px;
top: 11px;
position: absolute;
height: 104px;
}
.offerdd
{
width: 148px;
left: 10px;
top: 75px;
position: absolute;
height: 40px;
overflow: auto;
}
#myImg{
	z-index: 2;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute; object-fit:cover; visibility: hidden;"
}
 .showoption
{
width: 100%; 
height: 100%; 
position: absolute;
top:0px;
z-index: 10;
}
.desc
{
width: 140px;
left: 67px;
top: 40px;
position: absolute;
height: 32px;
overflow: auto;
}
#cropgetimagecode1{
	position: absolute;
    width: 19%;
    height: 34px;
    margin-top: 40px; visibility:hidden;
}
#selectapiimage22{
	position: absolute;
    width: 19%;
    height: 34px;
    margin-top: 55px; visibility:hidden;
}
#cropgetimagecode{
	position: absolute;
    width: 19%;
    height: 34px;
    margin-top: 55px; visibility:hidden;
}
#selector{
	width: 30%;
    border-radius: 25px;
    left: 66.9%;
    margin-top: 29%;
    position: absolute; display: none;
}
#zipaddednotification{
	position: absolute;
    right: 9%;
    margin-top: 58px;
    color: black; display: none;
}
#seezipadded{
	left: 75%;
    top: 85%;
    width: 13%;
    background: none;
    color: white;
    position: absolute; display: none;
}
#addnewonebtton{
	top: 90.7%;;
    left: 3.6%;
    width: 15%;
    background: white;
    border-radius: 15px;
    border: none;
    height: 26px;

    width: 16%;
    color: black;
    position: absolute;
    display: none;
}
#addbtn{left: 3.6%;
    top: 91%;
    width: 13%;
    border: none;
    padding: 2px;
    background: white;
    border-radius: 11px;
    color: black;
    position: absolute;
    display: block;}
#tersconditons{
    margin-top: 33px;
    height: 202px;
	border:none;
    padding: 10px;
   background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 6px #0000000F;
	border-radius: 10px
}
#expiraydate2:focus
{
	outline: none;
}
#imagecc
{
width: 100%;
height: 100%;

}
#couponsimage{
	text-align: -webkit-center;
}
#namedc
{    margin: 0px;
font-size: 14px;
font-weight: bold;
text-align: left;
width: 100%;
padding: 3px;
}

#desccc
{    margin: 0px;
font-size: 9px;
text-align: left;
width: 100%;
padding: 3px;
}
#offerdc
{        margin: 0px;
font-size: 8px;
text-align: left;
width: 100%;
padding: 3px;
color: white;
}
#imagerightcc
{
width: 100%;
height: 100%;
}

.chosebtn
{
padding:5px 10px;
background:#ccc;
padding-bottom: 94px;
border:1px solid #ccc;
position:relative;
color:#fff;
border-radius:2px;
text-align:center;
float:left;
cursor:pointer
			}
		
			.hide_file {
position: absolute;
z-index: 2;
opacity: 0;
cursor: pointer;
right: 0;
top: 0;
height: 100%;
font-size: 24px;
width: 100%;

}

.hide_file1 {
z-index: 2;
opacity: 0;
cursor: pointer;
right: 0;
top: 0;
height: 100%;
font-size: 24px;
width: 100%;

}
			
			
.inconclick
{
width: 100%;
height: 100%;
position: absolute;
z-index: 2;
background:none;
text-align: right;
}
.textusertop
{
 font-size: 24px;
margin-right: 14px;
}

.backtoappbtn
{
width: 166px;
border-radius: 17px;
border: none;
padding: 5px;
font-size: 19px;
font-weight: 500;
margin-bottom: 13px;
background: #E9E9E9;
margin-top: 16px;
margin-right: 35px;
}

.cupons{width: 50%;height: 40px; background: white; float: left; text-align: center;outline:none;
background: white;
float: left;
text-align: center;
}
.deals{width: 50%;height: 40px; background:#D5D5D5; float: left; text-align: center;outline:none;}

.cupons img{
 width: 70px;
height: 25px;
margin-top: 6px;
}

.deals img{
 width: 42px;
height: auto;
margin-top: 6px;
}

.sreach{
 width: 212px;
height: 35px;
background: #969494;
padding-left: 19px;
}
.select2-container--open .select2-dropdown--below {
    margin-left: -273px;
    margin-top: -8px;
}

.select2-results__option--highlighted {
    background-color: rgb(202, 201, 201) !important;
}

.select2-container {
    margin-top: 12px !important;
    margin-left: 274px !important;
    width: 234px !important;
}

.select2-container .select2-selection--single {
    height: 33px !important;
}

.drp {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.checkk {
    margin-right: -1px;
}

.zoomoutbtndealsweb2 {
    height: 26px;
    margin-left: -1px;
    margin-top: -134px;
}

.zoominbtndealsweb2 {
    height: 32px;
    margin-left: -31px;
    margin-top: -17px;
}

.closebtndealsweb2 {
    width: 68%;
    margin-left: 13px;
}

.zoomoutbtndealsweb {
    height: 26px;
    margin-left: 7px;
    margin-top: -136px;
}

.zoominbtndealsweb {
    height: 32px;
    margin-left: -29px;
    margin-top: -22px;
}

.closebtndealsweb {
    width: 65%;
    margin-left: 13px;
}

.zoomoutdealslogo {
    height: 26px;
    margin-left: 3px;
    margin-top: -132PX;
}

.zoomindealslogo {
    height: 32px;
    margin-left: -28px;
    margin-top: -19px;
}

.closebtndealslogo {
    width: 65%;
    margin-left: 13px;
}

.zoomoutbtncoupweb {
    height: 26px;
    margin-left: -22px;
    margin-top: -132px;
}

.zoominbtncoupweb {
    height: 32px;
    margin-left: -72px;
    margin-top: -17px;
}

.closebtncoupweb {
    width: 57%;
    margin-left: 13px;
}

.zoomoutbtncouplocal {
    height: 26px;
    margin-left: 12px;
    margin-top: -132PX;
}

.zoominbtncouplocal {
    height: 32px;
    margin-left: -28px;
    margin-top: -18px;
}

.closebtncouplocal {
    width: 52%;
    margin-left: 13px;
}

.zoomoutbtncouplogoweb {
    height: 26px;
    margin-left: 7px;
    margin-top: -135px;
}

.zoominbtncouplogoweb {
    height: 32px;
    margin-left: -41px;
    margin-top: -21px;
}

.closbtncouplogoweb {
    width: 66%;
    margin-left: 13px
}

.zoomoutcopnlogo {
    height: 26px;
    margin-left: 18px;
    margin-top: -112px;
}

.zoomincoupnlogo {
    height: 32px;
    margin-left: -12px;
}

.closbtncpnlogo {
    width: 52%;
    margin-left: 13px;
}
#Homeheader{
	margin-bottom:5px;
}

/* style="width: 52%; margin-left: 13px;" */

.cupons {
    width: 50% !important;
    height: 40px;
    background: white;
    float: none;
    text-align: center;
    width: 150px;
    height: 50px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 4px;
	    border: none;
}
.searchDiv{
	background-color: #fff;
}
.deals {
    width: 50%;
    height: 50px;
    background: #D5D5D5;
    float: left;
    text-align: center;
	    border: none;
}
  .carousel{position: absolute!important;}
#dellogo{
	z-index: 2;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0; object-fit: cover;visibility: hidden
}
.cupons img {
    width: 70px;
    height: 25px;
    margin-top: 6px;
}
#output3{
	width: 100%;
    position: absolute;
    height: 100%;
    float: left;
    left: 0px;
	z-index: -1;
    top: 0;
    border: none;
    object-fit: contain;
    background: white;
}
.deals img {
    width: 42px;
    height: auto;
    margin-top: 6px;
}

.preview {
    width: 195px;
    height: 40px;
    background: #5cc8fd;
    float: left;
    border: 1px solid black;
    color: white;
    text-align: center;
    line-height: 36px;
    margin-left: 351px;
}

.applay {
    width: 195px;
    height: 42px;
    margin-top: -1px;
    background: #5cc8fd;
    float: left;
    border: 1px solid black;
    color: white;
    text-align: center;
    line-height: 36px;
}

.sreach {
    width: 212px;
    height: 35px;
    background: #969494;
    padding-left: 19px;
}

.couns_search {
    width: 100%;
    height: 800px;
    padding: 17px;
    overflow: overlay;
}

.filter {
    width: 100%;
    height: 35px;
    background: whitesmoke!important;
}

.cupons_result {
    width: 100%;
    height: 110px;
    background: ;
    margin-top: 20px;
}

.cupons_result img {
    width: 100%;
    height: 100%;
}

.select_fil {
    width: 88px;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 5px;
    height: 34px;
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right;
    -webkit-appearance: none;
    background-position-x: 58px;
}

.select_sort {
    width: 88px;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 5px;
    height: 34px;
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right;
    -webkit-appearance: none;
    background-position-x: 66px;
    margin-left: 185px;
}

cupons_intract .offer::before {
    content: "";
    width: 0;
    height: 0;
    border-top: 68px solid transparent;
    border-right: 117px solid white;
    border-bottom: 67px solid transparent;
    background: ;
    /* left: 0; */
    right: 0;
    position: absolute;
}

.inpt::placeholder {
    font-size: 35px!important;
}

.inpt_offer::placeholder {
    font-size: 30px!important;
    color: white;
}

.offerdes {
    font-size: 18px;
    padding-left: 10px;
    border: none;
    width: 427px;
    height: 145px;
    border: 1px dashed lightgray;
}

.offerdes:focus {
    outline: none;
}

.inpt:focus {
    outline: none;
}

.inpt_offer:focus {
    outline: none;
}

.offerdes::placeholder {
    font-size: 25px!important;
}
.buttons_divelement
{
	width: 70%;
	height: 81px;
	text-align: right;
	display: inline-block;
}

#datacount
{
color: black!important;
}
.btn_proceed {
    background: #5cc8fd;
    width: 20%;
    height: 46px;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 600;
    margin-left: 38px;
}

.input_form {
   width: 498px;
	height: 53px;
    margin-left: 0;
    border: none;
    /* box-shadow: 2px 3px 3px black; */
    border-radius: 25px;
    padding-left: 18px;
    margin-top: 33px;
    font-size: 15px;
    margin-left: 0;
    margin-top: 12px;
}

.formdeal {
    width: 100%;
    margin-top: 11px;
    background: rgb(219,219,219,0.3);
	border-radius: 26px;
	display: grid;
    grid-template-columns: auto auto;
	padding: 44px 50px;
}
.formdeal input,.formdeal select, .formdeal textarea{
	width: 498px;
    height: 53px;
}
.selectall{
	opacity: 0.5;
    padding: 12px;
	background-color:#fff;
}
.selectall i{
	margin-left: 12px;
    margin-right: 3px;
    vertical-align: middle;
    font-size: 17px;
	opacity: 0.5;
}
.formdeal span{
	margin-bottom:50px;
}
.adding_image {
    width: 44%;
    height: 339px;
    background: #cac9c9;
    position: absolute;
    padding: 53px!important;
    left: 44%;
    color: #8c8c8c;
    top: 5%;
    font-size: 38px;
    margin-left: 129px;
    background: none;
    border: 2px dashed lightgray;
}

.offer {
    width: 50%;
    height: 136px;
    position: absolute;
    left: 0%;
    top: 60%;
    font-size: 30px;
}
.links{
	position: relative;
    top: 13px;
}
#cancelbtn{
	font-weight: 800;
	width: 202px;
	font-size: 16px;
	background: #d5d5d5;
	border: none;
	margin-left: 31px;																				
	color: #484646;
	border-radius: 19px;
	padding: 13px;
}
.offdescript {
    height: 161px;
    background: ;
    position: absolute;
    left: 14%;
    top: 18%;
}

.comname {
    width: 40%;
    height: 59px;
    background: red;
    position: absolute;
    left: 14%;
    top: 2%;
}

.cupons_intract {
    width: 100%;
    height: auto;
    background: #fff;
    position: relative;
    text-align: center;
    top: -5px;
    max-width: 1300px;
	margin: auto;
	min-width: 950px;
}
.details{
    max-width: 1300px;
    margin: auto;
}
.cupons_intact2 {
    width: 92%;
    height: 398px;
    top: 48px;
    left: 41px;
    position: absolute;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: lightgray !important;
  opacity: 0.5;
  font-size:15px;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #373434 !important;
  opacity: 0.5;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #373434 !important;
  opacity: 0.5;
}
:-moz-placeholder { /* Firefox 18- */
  color: #373434 !important;
  opacity: 0.5;
}
.addlogo {
	border-radius: 50%;
    background-color: #fff;
    border: 1px solid lightgray;
    width: 95px;
    height: 89px;
    left: 25px;
    position: absolute;
    top: 10px;
    padding: 0px;
    font-size: 10px;
	}
.textdealimage{
	letter-spacing: 0px;
	color: #373434;
	opacity: 1;
}
.imagescoupons{
	margin-top:40px;
}
.addlogo i{
	font-size: 28px;
    position: relative;
    right: 33px;
    top: 9px;
	opacity:0.6
}

/*This is the dropdown arrow css deals and coupons*/

.selectdived {
    position: relative;
    float: left;
    width: 100%;
}


/* IE11 hide native button (thanks Matt!) */

select::-ms-expand {
    display: none;
}

#delsearchtype {
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 498px;
    height: 53px;
    border: none;
    border-radius: 22px;
    padding: 0px 24px;
    font-size: 16px;
    line-height: 1.75;
    color: #333;
    background-color: #ffffff;
    background-image: none;
    -ms-word-break: normal;
    word-break: normal;
}


/*						This is for category dropdown arrow*/

.selectdivedcategory {
    position: relative;
    float: left;
    width: 23%;
}



/* IE11 hide native button (thanks Matt!) */

select::-ms-expand {
    display: none;
}

#selectdel {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 498px;
    height: 53px;
    border: none;
    margin-left: 2px;
    margin-top: 8px;
    border-radius: 22px;
    padding: 0px 24px;
    font-size: 16px;
    line-height: 1.75;
    color: #333;
    background-color: #ffffff;
    background-image: none;
    -ms-word-break: normal;
    word-break: normal;
}


/*						This is for prority values dropdown arrow*/

.selectdivedpriotry {
    position: relative;
    float: left;
    width: 22%;
}

/* IE11 hide native button (thanks Matt!) */

select::-ms-expand {
    display: none;
}

#delpriority {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 99%;
    height: 43px;
    border: none;
    margin-left: 2px;
    margin-top: 8px;
    border-radius: 22px;
    padding: 0px 24px;
    font-size: 16px;
    line-height: 1.75;
    color: #333;
    background-color: #ffffff;
    background-image: none;
    -ms-word-break: normal;
    word-break: normal;
}


/*						This is for promoted values dropdown arrow*/

.selectdivedpromot {
    position: relative;
    float: left;
    width: 22%;
}

/* IE11 hide native button (thanks Matt!) */

select::-ms-expand {
    display: none;
}

#dltrfl {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 99%;
    height: 43px;
    border: none;
    margin-left: 2px;
    margin-top: 8px;
    border-radius: 22px;
    padding: 0px 24px;
    font-size: 16px;
    line-height: 1.75;
    color: #333;
    background-color: #ffffff;
    background-image: none;
    -ms-word-break: normal;
    word-break: normal;
}


/*						This is for dateexpiry dropdown arrow*/

.selectdivedated {
    position: relative;
    float: left;
    width: 23%;
}


/* IE11 hide native button (thanks Matt!) */

select::-ms-expand {
    display: none;
}

#delpriority {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
        width: 498px;
    height: 53px;
    border: none;
    margin-left: 2px;
    margin-top: 8px;
    border-radius: 22px;
    padding: 0px 24px;
    font-size: 16px;
    line-height: 1.75;
    color: #333;
    background-color: #ffffff;
    background-image: none;
    -ms-word-break: normal;
    word-break: normal;
}


/*						This is for promoted values dropdown arrow*/

.selectdivedpromot {
    position: relative;
    float: left;
    width: 22%;
}



/* IE11 hide native button (thanks Matt!) */

select::-ms-expand {
    display: none;
}

#delexpirydate {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
        width: 498px;
    height: 53px;
    border: none;
    margin-left: 2px;
    margin-top: 8px;
    border-radius: 22px;
    padding: 0px 24px;
    font-size: 16px;
    line-height: 1.75;
    color: #333;
    background-color: #ffffff;
    background-image: none;
    -ms-word-break: normal;
    word-break: normal;
}


/*This is the coupons categories dorpdown arrow*/

.selectdivedccate {
    position: relative;
    width: 100%;
    margin-top: 4px;
}

/* IE11 hide native button (thanks Matt!) */

select::-ms-expand {
    display: none;
}

#select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    border: none;
    margin-left: 2px;
    margin-top: 8px;
    border-radius: 22px;
    padding: 0px 24px;
    font-size: 16px;
    line-height: 1.75;
    color: #333;
    background-color: #ffffff;
    background-image: none;
    -ms-word-break: normal;
    word-break: normal;
}


/*This is the search type dorpdown arrow*/

.selectdivedsreachtype {
    position: relative;
    width: 100%;
}


/* IE11 hide native button (thanks Matt!) */

select::-ms-expand {
    display: none;
}

#searchtype {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    border: none;
    margin-left: 2px;
    margin-top: 8px;
    border-radius: 22px;
    padding: 0px 24px;
    font-size: 16px;
    line-height: 1.75;
    color: #333;
    background-color: #ffffff;
    background-image: none;
    -ms-word-break: normal;
    word-break: normal;
}


/*This is the expiry date dorpdown arrow*/

.selectdiveddatedcoupons {
    position: relative;
    width: 100%;
}


/* IE11 hide native button (thanks Matt!) */

select::-ms-expand {
    display: none;
}

#expiraydate {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    border: none;
    margin-left: 2px;
    margin-top: 8px;
    border-radius: 22px;
    padding: 0px 24px;
    font-size: 16px;
    line-height: 1.75;
    color: #333;
    background-color: #ffffff;
    background-image: none;
    -ms-word-break: normal;
    word-break: normal;
}


/*This is the Priority values coupons dorpdown arrow*/

.selectdivedpriorities {
    position: relative;
    width: 100%
}


/* IE11 hide native button (thanks Matt!) */

select::-ms-expand {
    display: none;
}

#priority {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    border: none;
    margin-left: 2px;
    margin-top: 8px;
    border-radius: 22px;
    padding: 0px 24px;
    font-size: 16px;
    line-height: 1.75;
    color: #333;
    background-color: #ffffff;
    background-image: none;
    -ms-word-break: normal;
    word-break: normal;
}


/*This is the promted  coupons dorpdown arrow*/

.selectdivedpromecoupons {
    position: relative;
    width: 30%;
}


/* IE11 hide native button (thanks Matt!) */

select::-ms-expand {
    display: none;
}

#trfl {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 99%;
    height: 43px;
    border: none;
    margin-left: 2px;
    margin-top: 8px;
    border-radius: 22px;
    padding: 0px 24px;
    font-size: 16px;
    line-height: 1.75;
    color: #333;
    background-color: #ffffff;
    background-image: none;
    -ms-word-break: normal;
    word-break: normal;
}


/*
NAVBAR CUSTOM CSS
*/

.back-to-app-btn-custom {
    margin: 0 !important;
}

.align-from-top {
    margin-top: 7px !important;
}

.dropdown-header-custom {
    margin-left: 4%;
    border-radius: 16px;
    background-color: rgb(233, 233, 233);
    width: 19%;
}


/* drop down */

#page-wrapper {
    width: 285px;
    background: #FFFFFF;
    /* padding: 1em; */
    margin: 1em auto;
    margin-top: -44px;
}

.input {
    width: 88%;
    padding: -3px;
    font-size: 1.2em;
    border-radius: 6px;
    border: 1px solid #ccbcbc;
    height: 30px;
    margin-left: 57px;
    padding: 10px;
}

::placeholder {
    color: yellow;
    opacity: 1;
    /* Firefox */
}