@media(max-width:1570px) and (min-width:1500px) {
    #photosearchlist {
        width: 105%!important;
        margin-left: -6px!important;
        object-fit: none!important;
    }
    /* #multiple
	{
		
    margin-top: 16%!important;
		
	} */
    #addbtn {
        top: 91%!important;
    }
}

@media(max-width:1500px) and (min-width:1450px) {
    #photosearchlist {
        width: 108%!important;
        margin-left: -16px!important;
        object-fit: contain!important;
    }
    #multiple {
        margin-top: 17.3%!important;
    }
    #addbtn {
        top: 92%!important;
    }
}

@media(max-width:1450px) and (min-width:1400px) {
    .offerdd {
        margin-left: 17px !important;
    }
    #photosearchlist {
        width: 108%!important;
        margin-left: -16px!important;
        object-fit: contain!important;
    }
    .rigtimage {
        right: -12px!important;
    }
    #logodiv {
        width: 29px!important;
        height: 24px!important;
        left: 28px!important;
    }
    .namedd {
        /*    background: orange;*/
        width: 107px!important;
        left: 64px!important;
    }
    .desc {
        /*    background: #ff00d2;*/
        width: 112px!important;
        left: 63px!important;
    }
    #multiple {
        margin-top: 18.6%!important;
    }
    #addbtn {
        top: 91.4%!important;
    }
}

@media(max-width:1400px) and (min-width:1350px) {
    #photosearchlist {
        width: 100%!important;
        margin-left: 7px!important;
        object-fit: fill!important;
    }
    .rigtimage {
        right: 2px!important;
    }
    #logodiv {
        width: 29px!important;
        height: 24px!important;
        left: 18px!important;
    }
    .namedd {
        /*    background: orange;*/
        width: 107px!important;
        left: 50px!important;
    }
    .desc {
        /*    background: #ff00d2;*/
        width: 112px!important;
        left: 49px!important;
    }
    #multiple {
        margin-top: 20%!important;
    }
    #addbtn {
        top: 92.4%!important;
    }
	#addnewplacezipcode{
		width:75%;
	}
}