 .dellogo
{
width: 100%; 
height: 100%;
position: absolute;
object-fit: cover;
top: 0;
left: 0;
z-index: 3;
border-radius: 50%;
    background-color: #fff;
    border: 1px solid lightgray
}
#deloutput{
	    visibility: visible;
    background: white;
    object-fit: contain;
    z-index: 9;
    width: 85px;
    left: 5px;
    top: 28px;
    position: absolute;

}
.dealsdetail{
	font-size: 30px; font-weight: bold;width:20%;display:inline-block;
}
.actionbutton{display: inline-block;
    width: 75%;
	text-align: right;}
.categoriestextnode
{
width: 30%;
height: 16%;
margin-top: 10px;
background: whitesmoke;
float: right;
text-align: center;
padding-top: 5px;
visibility: hidden;
}

.drightinputh2
{
width: 22%;
height: 43px;
border-radius: 20px;
padding-left: 13px;
margin-top: 10px;
margin-left: 22px;
border: none;
}

.div_forbottom
{

width: 169%;
height: 300px;

margin-top: 75px;

}
.formargin
{
    width: 498px;
    height: 53px
}

.borderline
{
width: 100%;
height: 2px;
background: black;
}

.multizicode
{
margin-top: 91px!important;
position: relative;
}
#listsearch1{
	margin-left:10px;
	outline:none;
}
.secondsearchbar
{
height: 88px!important;
position: absolute;
width: 72%!important;
}
.dbt
{
  margin-top: 57px!important;
margin-left: 21px!important;
margin-bottom: 33px;
}

.dbt1
{
	width: 40%;
height: 41px;
background: #5cc8fd;
border: none;
margin-top: 33px;
color: white;
margin-left: 23px;
font-size: 18px;
border-radius: 19px;
}



/* The Modal (background) */
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
padding-top: 40px; /* Location of the box */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
z-index: 4;
}

/* Modal Content */
.modal-content {
background-color: #fefefe;
margin: auto;
padding: 12px;
border: 1px solid #888;
width: 88%;
height: 553px;
/* left: 3%; */
}

/* The Close Button */
.close {
color: #aaaaaa;
float: right;
font-size: 28px;
font-weight: bold;
}


.close:hover,
.close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}


#map {
   height: 81%;
width: 97%!important;
position: absolute;
	margin-top: 49px;

}

#floating-panel {
	   position: absolute;
top: -14px;
line-height: 19px;
left: 21%;
z-index: 5;
width: 70%;
/* background-color: #fff; */
padding: 5px;
/* border: 1px solid #999; */
text-align: center;
font-family: 'Roboto','sans-serif';
line-height: 30px;
padding-left: 10px;
}

.inputsearch
{
	width: 67%;
height: 46px;
border-radius: 20px;
margin-top: 37px;
margin-left: -125px;
padding-left: 15px;

}

.btnsearch
{
	width: 100px;
height: 41px;
background: #0dbaff;
color: white;
border: none;
}

.content-list {
width: 24%;
height: 91%;
/* top: 78px; */
background: #fffefe;
position: absolute;
z-index: 3;
overflow: scroll;
display: none;
}

/* Hidden by default. */
#panel {
height: 100%;
width: null;
background-color: white;
position: fixed;
z-index: 1;
overflow-x: hidden;
transition: all .2s ease-out;
}
.open {
width: 250px;
}
/* Styling for place details */
.hero {
width: 100%;
height: auto;
max-height: 166px;
display: block;
}
.place,
p {
font-family: 'open sans', arial, sans-serif;
padding-left: 18px;
padding-right: 18px;
}
.details {
color: darkslategrey;
}
a {
text-decoration: none;
color: cadetblue;
}


#list
{
  width: 20%; 
  height: 80%; 
  background: red;
  position: absolute;
  z-index: 3;
}

.list1
{
  width: 100%; 
  height: 100px;
  
  
  
}

.name
{
  font-size:10px;
}

.ulist li
{
  width: 100%;
  height: 100%;
  background: blue;
  
}

#dynamic-list li
{
			list-style: none;
width: 100%;
/* margin-left: -24px; */
left: 0p;
float: left;
height: a;
height: auto;
/* border: 1px solid white; */
/* background: #f5f7f5; */
border-bottom: 1px solid #b9b3b3;
 }
 .star{
	 color:red;
 }
 .labelterms{
	 width:100%;
 }
#selectapiimage22{
	
}
.couns_search
{
	height: 1034px!important;
	padding-right:0px; 
}


#webimageslist
{	
position: absolute!important;
list-style: none!important;
	margin-top: 49px;

}
#webimageslist li
{
float: left;

}


#imagelistlocal
{
	position: absolute!important;
list-style: none!important;
margin-top: 46px;

}
#imagelistlocal li
{
float: left;

}
 .select_catego {
     width: 30%;
     padding: 5px;
     font-size: 16px;
     line-height: 1;
     border: 0;
     border-radius: 5px;
     height: 43px;
     padding-left: 10px;
     /* background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right; */
     border-radius: 20px;
     -webkit-appearance: none;
     background-position-x: 66px;
     margin-left: 31px;
 }
 
 .maincontainer {
     width: 100%;
     height: auto;
     background: #fff;
    position: absolute;
 }
 
 .cuonsaddQRCODE {
     width: 100%;
     height: auto;
     background: ;
     display: none;
 }
 
 .dealaddQRCODE {
     width: 100%;
     height: auto;
     background: ;
     display: none;
 }
 
 .maincontainerdeal {
     width: 100%;
     height: auto;
     background: ;
     float: left;
     display: none;
 }
 
 .cupons_intact1 {
     width: 94%;
     height: 435px;
	 top:35px;
     margin-left: 31px;
     background-size: 100% 100%;
     position: relative;
 }
 
 .filter {
     background: whitesmoke!important;
 }
 
 ::placeholder {
     color: black;
     opacity: 1;
     /* Firefox */
 }
 /*This is QR code css*/
 
 .qrimage {
     width: 414px;
     height: 243px;
     background: #f7f7f7;
     border-radius: 30px;
     margin-left: 31%;
 }
 
 .addcupancode {
     width: 414px;
     height: 83px;
     background: #f7f7f7;
     border-radius: 30px;
     margin-left: 31%;
 }
 
 .addlink {
     width: 88%;
     height: 50px;
     background: #f7f7f7;
     border-radius: 30px;
     margin-left: 8%;
 }
 
 .custom-file-upload .custom-file-upload2 {
     border: 7px solid #ccc;
     display: inline-block;
     left: 0px;
     margin-left: -9px;
     padding: 6px 12px;
     cursor: pointer;
     margin-left: 0px;
     color: #060606;
     width: 100%;
     /* height: 94%; */
     height: 244px;
     border: 10px;
     padding: 30px;
     text-align: center;
     line-height: 43px;
     line-height: 43px;
     font-size: 20px;
 }
 
 .placehold::placeholder {
     font-size: 25px;
 }
 
 .dbt {
     width: 17%;
     height: 41px;
     background: #5cc8fd;
     border: none;
     margin-top: 33px;
     color: white;
     margin-left: 23px;
     font-size: 18px;
     border-radius: 19px;
 }
 
 .drighttextarea {
     width: 89%;
     border-radius: 11px;
     padding-left: 10px;
     height: 197px;
     border: none;
     margin-top: 22px;
     padding-top: 12px;
 }
 
 .drightinput {
    width: 90%;
    height: 53px;
     border-radius: 20px;
     border: none;
     padding-left: 12px;
	 margin-top: 12px;
 }
 
 .drightform {
     width: 87%;
     margin-left: 24px;
     margin-top: 25px;
     border-radius: 30px;
	 display: grid;
	 grid-template-columns: auto auto;
	 padding: 44px 50px;
	 background: rgb(219,219,219,0.3);
}

.drightform span{
	margin-bottom: 50px;
}
 .drightform select {
	 margin-top:12px;
 }
 .ddateinpt {
     height: 29px;
     border: none;
     padding-left: 12px;
     background: none;
 }
 
 .deoffdesinput {
     border: none;
     background: none;
     font-size: 24px;
     padding: 13px;
     margin-top: 3px;
     padding-left: 18px;
	 width: 494px;
    height: 113px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px dashed #707070;
    opacity: 0.8;
 }
 
 .deoffdesinput::placeholder {
     font-size: 26px;
     padding-top: 0px
 }
 
 .deoffdesinput:focus {
     outline: none;
 }
 
 .deconame {
     width: 100%;
     height: 88px;
     padding-left: 10px;
     background: red;
     margin-top: 1px;
     font-size: 26px;
     border: 1px solid black;
     background: white;
     background: none;
     border: none;
 }
 
 .deconame:focus {
     outline: none;
 }
 
 .deconame::placeholder {
     font-size: 26px!important;
 }
 
 .decoffer {
     width: 100%;
     height: auto;
     padding-left: 26px;
     font-size: 26px;
     background: none;
     border: none;
     color: white;
 }
 
 .decoffer:focus {
     outline: none;
 }
 
 .decoffer::placeholder {
     font-size: 30px!important;
     color: white;
 }
 
 .dedate {
     width: auto;
     height: 16%;
     margin-top: 49px;
     margin-left: 3px;
     text-align: center;
     background: ;
     float: right;
 }
 
 .deoffdes {
     width: 62%;
     height: 39%;
     margin-top: 4px;
     margin-left: 12px;
     border-radius: 10px;
     background: ;
     float: left;
 }
 
 .determs {
     width: 18%;
     height: 14%;
     margin-top: 31px;
     margin-left: 4px;
     background: ;
     float: left;
 }
 
 .deoffer {
     width: 81%;
     height: 17%;
     margin-top: 5px;
     float: left;
 }
	.bntconf
	{
	margin-left: : 36%!important;
	}

	.btn_proceed2
	{
	background: #5cc8fd;
	width: 21%;
	height: 46px;
	/* margin-top: 343px; */
	color: white;
	position: relative;
	margin-left: 5%;
	border: none;
	border-radius: 20px;
	font-size: 18px;
	font-weight: 600;
	}

	#couponsimage
	{
	list-style:none;
	}

	#couponsimagedeal
	{
	list-style:none;
	display: none;
	}

	#cupsearch
	{
	list-style:none;
	}

	#listsearch:focus
	{

	outline: none;
	background: white;

	}
	.imagebackground
	{
	width: 93%;
	top: 5px;
	left: 9px;
	border-radius: 13px;
	height: 139px;
	background: blue;
	position: absolute;
	}
	.bottomdiv
	{
	width: 113%;
	height: 186px;
	border-radius: 13px;
	border: radiu;
	position: relative;
	margin-left: 3px;
	}
	.logoimageleft
	{
	width: 40px;
	height: 40px;
	background: green;
	position: absolute;
	left: 10px;
	top: 4px;
	}
	.deslnameleft
	{
	width: 100%;
	height: 61px;
	position: absolute;
	overflow: auto;
	padding: 3px;
	border-radius: 10px;
	bottom: 0px;
	}
	.delofferleft
	{
	width: 70%;
	height: 30px;
	position: absolute;
	padding: 3px;
	overflow: auto;
	top: 36px;
	right: 21px;
	}
	.offerdescleft
	{
	width: 70%;
	height: 30px;
	position: absolute;
	padding: 3px;
	overflow: auto;
	top: 68px;
	left: 11px;
	}
	.dealsdateleft
	{
	width: 22%;
	height: 30px;
	/*    background: #8c6868;*/
	position: absolute;
	padding: 3px;

	top: 68px;
	right: 5px;
	/* left: 11px; */

	}
	#imagerightdeals
	{
	width: 97%;
	height: 100%;
	}
	#logodealsimage
	{
	width: 100%;
	height: 100%;
	}

	#dealsnameleft1
	{
	padding: 0;
	font-size: 9px;
	margin: 0px;
	font-size: 16px;
	padding-left: 11px;
	color: white;
	}
	#dealsnameleft2
	{
	padding: 0;
	font-size: 9px;
	margin: 0px;
	}
	#dealsnameleft3
	{
	padding: 0;
	font-size: 9px;
	margin: 0px;
	}
	#dealsnameleft4
	{
	padding: 0;
	font-size: 9px;
	margin: 0px;
	}
	.cupons_intact1
	{
	width: 94%;
	height: 435px;
	/*    background:url("img/Food_&_Drinks.png");*/
	margin-left: 31px;
	background-size:100% 100%;
	position: relative;

	}



	::placeholder {
	color: black;
	opacity: 1; /* Firefox */
	 
	 

	}

	.dlgetmv
	{
		width: 100%;
	height: 100%;
	/*    background: rgba(0,0,0,0.5);*/
	position: absolute;
		z-index: 3;
	}


	.topnamelogo
	{
		   width: 100%;
	height: 107px;
	background: white;
	border-top-right-radius: 17px;
	position: relative;
	border-top-left-radius: 17px;
	}
 .decomname {
     width: 74%;
     height: 26%;
     margin-top: 11px;
     background: ;
     margin-left: 5px;
     float: left;
 }
 
 .deallogo {
     width: 100px;
     height: 91px;
     text-align: center;
     padding: 10px;
     margin-left: 17px;
     margin-top: 10px;
     position: relative;
     background: #f5f5f5;
     float: left;
	 border-radius: 50%;
    background: #fff;
 }
 .deallogo i{
	 font-size: 28px;
    position: relative;
    opacity: 0.6;
	top: 9px;
 }
 .deallogo p{
	font-size: 7px;
	text-align: center;
	margin-top: 13px;
 }
 .icondeal {
     width: 43px;
     height: 40px;
     /* background: red; */
     right: 10px;
     position: absolute;
     bottom: 10px;
 }
 
 .icondeal img {
     width: 100%;
     height: 100%;
 }
 #dlimageoutput{
	 width: 100%;
    position: absolute;
    height: 100%;
    float: left;
    left: 0px;
	z-index: 9;
    top: 0;
    border: none;
    object-fit: contain;
    background: white;
	display:none;
 }
 .dealdetail {
     width: 100%;
     height: 185px;
     background: #fffefe;
     /* margin-left: 15px; */
     /* margin-top: 10px; */
     /* border-radius: 22px; */
     position: absolute;
     bottom: 0px;
 }
 .dealimage .imageupload{
	font-size: 110px;
    opacity: 0.7;
 }
 #delimagelink{
	 position: absolute;left: 0;
    position: absolute;
    top: 0;
    height: 20px; visibility: hidden;
 }
 #deldescription{
	 position: absolute;left: 0;
    position: absolute;
    top: 0;
    height: 20px; visibility: hidden;
 }
 #deladdbtn2{
	 width: 39%;
    height: 41px;
    background: rgb(233, 233, 233);
    float: left;
    border: none;
    margin-top: 33px;
    color: black;
    margin-left: 17px;
    font-size: 13px;
    border-radius: 19px;
    display: none;
 }
 #deladdbtn{
	 width: 34%;
    height: 27px;
   background: #e9e9e9;
    float: left;
    border: none;
    margin-top: 33px;
    margin-bottom: 10px;																								 
    color: black;
    margin-left: 20px;
    font-size: 14px;
    border-radius: 19px;
 }
 #deladdnewplacezipcode{
	 text-align: left;
    width: 88%;
    height: 41px;
   background: #e9e9e9;
    float: left;
    border: none;
    margin-top: 14px;
    padding-left: 21px;
    color: black;
    margin-left: 16px;
    font-size: 18px;
    border-radius: 19px;
 }
 #delselector{
	position: absolute;left: 0;
	position: absolute;
	top: 0;
	height: 20px; visibility: hidden;
 }
 .dealimageupload {
     width: 100%;
     height: 332px;
     background: #f5f5f5;
     text-align: center;
     margin-top: 13px;
     border-radius: 1px;
     position: absolute;
	 background: #C1C1C1 0% 0% no-repeat padding-box;
 }
 
 .dealimage {
   width: 942px;
    height: 653px;
    margin-top: 23px;
    margin-left: 17px;
    border-radius: 20px;
    position: relative;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 10px #00000029;
	margin:auto;
 }
 
 .leftpos {
     width: 100%;
     height: 611px;
     margin-left: 24px;
	 display: inline-table;
    margin-bottom: 46px;
 }
 .leftpos{
	 position: relative;
    top: 19px;
 }
 .dealimage{
	 top:70px;
 }
 .details{
    padding: 0 50px;
 }
 .rightpos {
     width: 100%;
     height: 611px;
     margin-left: 10px;
	 margin-top: 100px;
 }
 .searchbtn
{
	width: 18%;
margin-left: 1px;
height: 40px;
position: absolute;
margin-top: 21px;
	
}
.searchbtn img
{
		width: 28%;
margin-top: 0px;
height: 20px;
}

#delcouons2
{
	width: 100%;
height: 100%;
padding-top: 10px;
	display: none;
}

#deldeals222
{
	width: 100%;
height: 100%;
padding-top: 10px;
	display: none;
	
}
 /* Add Animation */
 
 @-webkit-keyframes slideIn {
     from {
         bottom: -300px;
         opacity: 0
     }
     to {
         bottom: 0;
         opacity: 1
     }
 }
 
 @keyframes slideIn {
     from {
         bottom: -300px;
         opacity: 0
     }
     to {
         bottom: 0;
         opacity: 1
     }
 }
 
 @-webkit-keyframes fadeIn {
     from {
         opacity: 0
     }
     to {
         opacity: 1
     }
 }
 
 @keyframes fadeIn {
     from {
         opacity: 0
     }
     to {
         opacity: 1
     }
 }
 
 .cropaream {
     width: 638px;
     height: 434px;
     background: blue;
     float: left;
 }
 
 .button_area {
     width: 244px;
     height: 429px;
     background: white;
     float: left;
     text-align: center;
 }
 
 .contact-form label {
     font-weight: 600;
 }
 
 .contact-form button {
     background: #fff;
     color: #fff;
     font-weight: 600;
     width: 25%;
 }
 
 .contact-form button:focus {
     box-shadow: none;
 }
 
 .custom-file-upload input[type="file"] {
     display: none;
 }
 
 .custom-file-upload .custom-file-upload1 {
     border: 7px solid #ccc;
     display: inline-block;
     left: 0px;
     margin-left: -9px;
     padding: 6px 12px;
     cursor: pointer;
     margin-left: 0px;
     color: #060606;
     width: 100%;
     /* height: 94%; */
     height: 370px;
     padding: 72px;
     line-height: 43px;
     line-height: 43px;
     font-size: 20px;
 }
 
 .custom-file-upload_logo input[type="file"] {
     display: none;
 }
 
 .custom-file-upload_logo .custom-file-upload1_logo {
     border: 2px solid #ccc;
     display: inline-block;
     left: 0px;
     margin-left: -9px;
     padding: 6px 12px;
     cursor: pointer;
     margin-left: 0px;
     color: #060606;
     width: 100%;
     /* height: 94%; */
     height: 65px;
     padding: 0px;
     line-height: 43px;
     line-height: 14px;
     font-size: 8px;
 }
 
 .images_coupons-af {
     width: 10%;
     height: 13%;
     position: absolute;
     z-index: 3;
     right: -6px;
 }
 
 .edit-coupons-b {
     width: 9%;
     position: absolute;
     right: 0px;
 }
 
 .edit-coupons-a {
     width: 100%;
     position: absolute;
     right: 0px;
 }