 @media only screen and (max-width: 1520px) {
	.addlogo {
	left:2%;
	}
	.offerdes{
		width:310px;
	}
	.dealimage{
	 top: 70px;
	 position:absolute
	}
	.adding_image {
    width: 45%;
    height: 359px;
	left: 39%;
    color: #8c8c8c;
    top: 3%;
	}
	.buttons_divelement{
		width:69%;
	}
	.formdeal input,.formdeal select, .formdeal textarea{
	width: 369px;
    height: 53px;
    position: relative;
	}
	.drightform input,.drightform select, .drightform textarea, #addnewplacezipcode{
	width: 369px !important;
    height: 53px !important;
    position: relative !important;
	outline:none;
	}
	.selectdivedcategory:after{
		right: 140px;
	}
	.selectdived:after{
		right: 140px;
		top: 22px;
	}
	.selectdivedpriotry:after{
		right:136px;
	}
	drighttextarea{
		height:197px;
	}
	.selectdivedsreachtype:after,.selectdivedpriorities:after{
		right:38px;
	}
	.selectdivedated:after{
		right:150px;
	}
	.formdeal label,.drightform label{
		width: 198px;
	}
	.drightform{
		width:95%;
	}
	.selectdivedccate:after,selectdivedccate:after{
		right:40px;
	}
	.selectdiveddatedcoupons:after {
		right: 72px;
	}
	.rigtimage {
    width: 82px;
    right: 13px;
    top: 18px;
    position: absolute;
    height: 87px;
    }
	#cplframe{
	width: 273px;
	}
	#expiraydate2{
		bottom:-24px;
	}
	.rightpos{
		width:100%;
	}
}
