 @media only screen and (max-width: 1366px) {
	.addlogo {
	left:2%;
	}
	.offerdes{
		width:310px;
	}
	.adding_image {
    width: 45%;
    height: 359px;
	left: 39%;
    color: #8c8c8c;
    top: 3%;
	}
	.buttons_divelement{
		width:69%;
	}
	.formdeal input,.formdeal select, .formdeal textarea{
		width: 369px;
    height: 53px;
    position: relative;
	}
	.formdeal label {
		width: 198px;
	}
	.selectdivedccate:after,selectdivedccate:after{
		right:40px;
	}
	.selectdiveddatedcoupons:after {
		right: 72px;
	}
	.rigtimage {
    width: 93px;
    right: 13px;
    top: 11px;
    position: absolute;
    height:100px;
}