 .select_catego {
     width: 30%;
     padding: 5px;
     font-size: 16px;
     line-height: 1;
     border: 0;
     border-radius: 5px;
     height: 43px;
     padding-left: 10px;
     /* background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right; */
     border-radius: 20px;
     -webkit-appearance: none;
     background-position-x: 66px;
     margin-left: 31px;
 }
 
 .maincontainer {
     width: 100%;
     height: auto;
     background: ;
 }
 
 .cuonsaddQRCODE {
     width: 100%;
     height: auto;
     background: ;
     display: none;
 }
 
 .dealaddQRCODE {
     width: 100%;
     height: auto;
     background: ;
     display: none;
 }
 
 .maincontainerdeal {
     width: 100%;
     height: auto;
     background: ;
     float: left;
     display: none;
 }
 
 .cupons_intact1 {
     width: 94%;
     height: 435px;
     background: url("img/Food_&_Drinks.png");
     margin-left: 31px;
     background-size: 100% 100%;
     position: relative;
 }
 
 .filter {
     background: whitesmoke!important;
 }
 
 ::placeholder {
     color: black;
     opacity: 1;
     /* Firefox */
 }
 /*This is QR code css*/
 
 .qrimage {
     width: 414px;
     height: 243px;
     background: #f7f7f7;
     border-radius: 30px;
     margin-left: 31%;
 }
 
 .addcupancode {
     width: 414px;
     height: 83px;
     background: #f7f7f7;
     border-radius: 30px;
     margin-left: 31%;
 }
 
 .addlink {
     width: 88%;
     height: 50px;
     background: #f7f7f7;
     border-radius: 30px;
     margin-left: 8%;
 }
 
 .custom-file-upload .custom-file-upload2 {
     border: 7px solid #ccc;
     display: inline-block;
     left: 0px;
     margin-left: -9px;
     padding: 6px 12px;
     cursor: pointer;
     margin-left: 0px;
     color: #060606;
     width: 100%;
     /* height: 94%; */
     height: 244px;
     border: 10px;
     padding: 30px;
     text-align: center;
     line-height: 43px;
     line-height: 43px;
     font-size: 20px;
 }
 
 .placehold::placeholder {
     font-size: 25px;
 }
 
 .dbt {
     width: 22%;
     height: 41px;
     background: #5cc8fd;
     float: left;
     border: none;
     margin-top: 33px;
     color: white;
     margin-left: 23px;
     font-size: 18px;
     border-radius: 19px;
 }
 
 .drighttextarea {
     width: 89%;
     margin-left: 15px;
     border-radius: 11px;
     padding-left: 10px;
     height: 197px;
     border: none;
     margin-top: 22px;
     padding-top: 12px;
 }
 
 .drightinput {
     width: 90%;
     height: 43px;
     border-radius: 20px;
     border: none;
     padding-left: 12px;
     margin-top: 29px;
     margin-left: 10px;
 }
 
 .drightform {
     width: 87%;
     height: 550px;
     margin-left: 24px;
     margin-top: 25px;
     border-radius: 30px;
 }
 
 .ddateinpt {
     width: 100%;
     height: 29px;
     border: none;
     padding-left: 12px;
     background: none;
 }
 
 .deoffdesinput {
     width: 100%;
     border: none;
     height: 68px;
     background: none;
     font-size: 24px;
     padding: 13px;
     margin-top: 3px;
     padding-left: 18px;
 }
 
 .deoffdesinput::placeholder {
     font-size: 26px;
     padding-top: 0px
 }
 
 .deoffdesinput:focus {
     outline: none;
 }
 
 .deconame {
     width: 100%;
     height: 88px;
     padding-left: 10px;
     background: red;
     margin-top: 1px;
     font-size: 26px;
     border: 1px solid black;
     background: white;
     background: none;
     border: none;
 }
 
 .deconame:focus {
     outline: none;
 }
 
 .deconame::placeholder {
     font-size: 26px!important;
 }
 
 .decoffer {
     width: 100%;
     height: 93px;
     padding-left: 26px;
     font-size: 26px;
     background: none;
     border: none;
     color: white;
 }
 
 .decoffer:focus {
     outline: none;
 }
 
 .decoffer::placeholder {
     font-size: 30px!important;
     color: white;
 }
 
 .dedate {
     width: 29%;
     height: 16%;
     margin-top: 12px;
     margin-left: 3px;
     text-align: center;
     background: whitesmoke;
     background: ;
     float: right;
 }
 
 .deoffdes {
     width: 62%;
     height: 39%;
     margin-top: 4px;
     margin-left: 12px;
     border-radius: 10px;
     background: whitesmoke;
     background: ;
     float: left;
 }
 
 .determs {
     width: 18%;
     height: 14%;
     margin-top: 31px;
     margin-left: 4px;
     background: ;
     float: left;
 }
 
 .deoffer {
     width: 81%;
     height: 50%;
     margin-top: 5px;
     float: left;
 }
 
 .decomname {
     width: 74%;
     height: 26%;
     margin-top: 11px;
     background: ;
     margin-left: 5px;
     float: left;
 }
 
 .deallogo {
     width: 112px;
     height: 91px;
     text-align: center;
     padding: 10px;
     margin-left: 17px;
     margin-top: 10px;
     position: relative;
     background: #f5f5f5;
     float: left;
 }
 
 .icondeal {
     width: 43px;
     height: 40px;
     /* background: red; */
     right: 10px;
     position: absolute;
     bottom: 10px;
 }
 
 .icondeal img {
     width: 100%;
     height: 100%;
 }
 
 .dealdetail {
     width: 100%;
     height: 185px;
     background: #fffefe;
     /* margin-left: 15px; */
     /* margin-top: 10px; */
     /* border-radius: 22px; */
     position: absolute;
     bottom: 0px;
 }
 
 .dealimageupload {
     width: 95%;
     height: 332px;
     background: #f5f5f5;
     margin-left: 15px;
     text-align: center;
     margin-top: 13px;
     border-radius: 1px;
     position: absolute;
 }
 
 .dealimage {
     width: 95%;
     height: 653px;
     /* background: #be252b; */
     /* top: 10px; */
     margin-top: 23px;
     margin-left: 17px;
     border-radius: 20px;
     position: relative;
 }
 
 .leftpos {
     width: 55%;
     height: 611px;
     background: ;
     float: left;
     margin-left: 24px;
 }
 
 .rightpos {
     width: 40%;
     height: 611px;
     background: ;
     float: left;
     margin-left: 10px;
 }
 /* Add Animation */
 
 @-webkit-keyframes slideIn {
     from {
         bottom: -300px;
         opacity: 0
     }
     to {
         bottom: 0;
         opacity: 1
     }
 }
 
 @keyframes slideIn {
     from {
         bottom: -300px;
         opacity: 0
     }
     to {
         bottom: 0;
         opacity: 1
     }
 }
 
 @-webkit-keyframes fadeIn {
     from {
         opacity: 0
     }
     to {
         opacity: 1
     }
 }
 
 @keyframes fadeIn {
     from {
         opacity: 0
     }
     to {
         opacity: 1
     }
 }
 
 .cropaream {
     width: 638px;
     height: 434px;
     background: blue;
     float: left;
 }
 
 .button_area {
     width: 244px;
     height: 429px;
     background: white;
     float: left;
     text-align: center;
 }
 
 .contact-form label {
     font-weight: 600;
 }
 
 .contact-form button {
     background: #fff;
     color: #fff;
     font-weight: 600;
     width: 25%;
 }
 
 .contact-form button:focus {
     box-shadow: none;
 }
 
 .custom-file-upload input[type="file"] {
     display: none;
 }
 
 .custom-file-upload .custom-file-upload1 {
     border: 7px solid #ccc;
     display: inline-block;
     left: 0px;
     margin-left: -9px;
     padding: 6px 12px;
     cursor: pointer;
     margin-left: 0px;
     color: #060606;
     width: 100%;
     /* height: 94%; */
     height: 370px;
     padding: 72px;
     line-height: 43px;
     line-height: 43px;
     font-size: 20px;
 }
 
 .custom-file-upload_logo input[type="file"] {
     display: none;
 }
 
 .custom-file-upload_logo .custom-file-upload1_logo {
     border: 2px solid #ccc;
     display: inline-block;
     left: 0px;
     margin-left: -9px;
     padding: 6px 12px;
     cursor: pointer;
     margin-left: 0px;
     color: #060606;
     width: 100%;
     /* height: 94%; */
     height: 65px;
     padding: 0px;
     line-height: 43px;
     line-height: 14px;
     font-size: 8px;
 }
 
 .images_coupons-af {
     width: 10%;
     height: 13%;
     position: absolute;
     z-index: 3;
     right: -6px;
 }
 
 .edit-coupons-b {
     width: 9%;
     position: absolute;
     right: 0px;
 }
 
 .edit-coupons-a {
     width: 100%;
     position: absolute;
     right: 0px;
 }