
@media(max-width:1350px) and (min-width:1296px)

{

.form_right{width:55%!important;}
.form_right1{width:55%!important;}
.CMT_form2{width:55%!important;}

.form_left{width:55%!important;}
.form_left1{width:55%!important;}
.CMT_form{width:55%!important;}
.news_thumbnails{height:45px!important;}
.image_thum{width:16%!important; height:40px!important;}
.labbreak{margin-left:50px!important;}
.mactext{margin-left:55px!important;}
.mactext1{margin-left:67px!important;}
}



@media(max-width:1296px) and (min-width:1246px)

{

.form_right{width:55%!important;}
.form_right1{width:55%!important;}
.CMT_form2{width:55%!important;}

.form_left{width:55%!important;}
.form_left1{width:55%!important;}
.CMT_form{width:55%!important;}
.news_thumbnails{height:45px!important;}
.image_thum{width:16%!important; height:40px!important;}
.labbreak{margin-left:45px!important;}
.mactext{margin-left:50px!important;}
.mactext1{margin-left:60px!important;}


}



@media(max-width:1246px) and (min-width:1200px)

{

.form_right{width:55%!important;}
.form_right1{width:55%!important;}
.CMT_form2{width:55%!important;}

.form_left{width:55%!important;}
.form_left1{width:55%!important;}
.CMT_form{width:55%!important;}
.news_thumbnails{height:45px!important;}
.image_thum{width:16%!important; height:40px!important;}
.labbreak{margin-left:40px!important;}
.mactext{margin-left:43px!important;}
.mactext1{margin-left:55px!important;}


}


@media(max-width:1200px) and (min-width:1000px)

{

.col2{width:100%; margin-top:8px;}
.image_player{height:200px!important; margin-left:5px;}
.image_thum{width:15%; height:30px;}
.news_thumbnails{height:40px;}
.image_arraw{width:4%; height:16px;}
.lab_break{float:right!important;}


.col1{width:100%;}
.form_left{width:95%!important;}
.form_left1{width:95%!important;}
.form_right{width:95%!important;}
.form_right1{width:95%!important;}
.CMT_form{width:95%!important;}
.CMT_form2{width:95%!important;}
.lab1{color:#FFFFFF; font-size:11px; margin-right:10px;}



}

@media(max-width:1270px) and (min-width:1000px)

{
.news_thumbnails{height:45px!important;}
.image_thum{width:16%!important; height:40px!important;}

}






@media(max-width:1000px) and (min-width:900px)

{

.youtube{height:950px!important; overflow-y:scroll; overflow-x:hidden;}
.col2{width:100%; margin-top:8px;}
.image_player{height:200px!important; margin-left:5px;}
.image_thum{width:15%; height:30px;}
.news_thumbnails{height:40px;}
.image_arraw{width:4%; height:16px;}
.lab_break{float:right!important;}

.col1{width:100%;}
.form_left{width:95%!important;}
.form_left1{width:95%!important;}
.form_right{width:95%!important;}
.form_right1{width:95%!important;}
.CMT_form{width:95%!important;}
.CMT_form2{width:95%!important;}
.lab1{color:#FFFFFF; font-size:11px; margin-right:10px;}


}

@media(max-width:900px) and (min-width:767px)

{



.youtube{height:450px!important; overflow-y:scroll; overflow-x:hidden;}
.search_block{width:100%!important; height:auto;}
.filter_div{width:100%!important;}
.player{width:100%;}
.player_part{width:100%!important; padding:20px!important;}
.image_thum{width:17%; height:70px;}
.news_thumbnails{height:80px;}
.image_player{height:400px!important; margin-left:5px; width:100%!important;}
.lab_break{float:right!important;}
.form_right_way{width:100%!important;}
.col2{width:100%;}

.col1{width:100%;}
.form_left{width:95%!important;}
.form_left1{width:95%!important;}
.form_right{width:95%!important;}
.form_right1{width:95%!important;}
.CMT_form{width:95%!important;}
.CMT_form2{width:95%!important;}
.lab1{color:#FFFFFF; font-size:11px; margin-right:10px;}


}


@media(max-width:767px) and (min-width:550px)

{


.search_block{width:100%!important; height:auto;}
.player{width:100%;}
.player_part{width:100%!important; padding:20px!important;}
.image_thum{width:17%; height:70px;}
.news_thumbnails{height:80px;}
.image_player{height:400px!important; margin-left:5px; width:100%!important;}
.lab_break{float:right!important;}
.form_right_way{width:100%!important;}
.col2{width:100%;}

.col1{width:100%;}
.form_left{width:95%!important;}
.form_left1{width:95%!important;}
.form_right{width:95%!important;}
.form_right1{width:95%!important;}
.CMT_form{width:95%!important;}
.CMT_form2{width:95%!important;}
.lab1{color:#FFFFFF; font-size:11px; margin-right:10px;}


}


@media(max-width:550px) and (min-width:467px)

{

.search_block{width:100%!important; height:auto;}
.player{width:100%;}
.player_part{width:100%!important; padding:20px!important;}
.image_thum{width:17%; height:70px;}
.news_thumbnails{height:80px;}
.image_player{height:300px!important; margin-left:5px; width:100%!important;}
.lab_break{float:right!important;}
.form_right_way{width:100%!important;}
.col2{width:100%;}

.col1{width:100%;}
.form_left{width:95%!important;}
.form_left1{width:95%!important;}
.form_right{width:95%!important;}
.form_right1{width:95%!important;}
.CMT_form{width:95%!important;}
.CMT_form2{width:95%!important;}
.lab1{color:#FFFFFF; font-size:11px; margin-right:10px;}

}


@media(max-width:466px) and (min-width:367px)

{

.search_block{width:100%!important;}
.youtube{height:350px; overflow-x:hidden;}
.player{width:100%;}
.player_part{width:100%!important; padding:20px!important;}
.image_thum{width:16%; height:60px;}
.news_thumbnails{height:72px;}
.image_player{height:250px!important; margin-left:5px; width:100%!important;}
.lab_break{float:right!important;}
.form_right_way{width:100%!important;}
.col2{width:100%;}

.col1{width:100%;}
.form_left{width:95%!important;}
.form_left1{width:95%!important;}
.form_right{width:95%!important;}
.form_right1{width:95%!important;}
.CMT_form{width:95%!important;}
.CMT_form2{width:95%!important;}
.lab1{color:#FFFFFF; font-size:11px; margin-right:10px;}

}



@media(max-width:367px) and (min-width:305px)

{

.search_block{width:100%!important;}
.youtube{height:350px; overflow-x:hidden;}
.player{width:100%;}
.player_part{width:100%!important; padding:20px!important;}
.image_thum{width:15%; height:50px;}
.news_thumbnails{height:61px;}
.image_player{height:200px!important; margin-left:5px; width:100%!important;}
.lab_break{float:right!important;}
.form_right_way{width:100%!important;}
.col2{width:100%;}

.col1{width:100%;}
.form_left{width:95%!important;}
.form_left1{width:95%!important;}
.form_right{width:95%!important;}
.form_right1{width:95%!important;}
.CMT_form{width:95%!important;}
.CMT_form2{width:95%!important;}
.lab1{color:#FFFFFF; font-size:11px; margin-right:10px;}

}



@media(max-width:305px) and (min-width:200px)

{

.search_block{width:100%!important;}
.youtube{height:350px; overflow-x:hidden;}
.player{width:100%;}
.player_part{width:100%!important; padding:20px!important;}
.image_thum{width:14%; height:50px;}
.news_thumbnails{height:61px;}
.image_player{height:150px!important; margin-left:5px; width:100%!important;}

.form_right_way{width:100%!important;}
.col2{width:100%;}
.lab_break{float:right!important;}
.col1{width:100%;}
.form_left{width:95%!important;}
.form_left1{width:95%!important;}
.form_right{width:95%!important;}
.form_right1{width:95%!important;}
.CMT_form{width:95%!important;}
.CMT_form2{width:95%!important;}
.lab1{color:#FFFFFF; font-size:11px; margin-right:10px;}

}
