

@media(max-width:1440px) and (min-width:1377px)

{

#search{width:210px!important; margin-left:50px!important;}
#button_srch{margin-left:0px!important;}
.slct{width:59px!important;}
.edit_tool{width:560px; height:335px;}
.bottm{margin-top:15px;}
}
