
body{background:#F5F5F5;
}



.navbar{background:#000000; border:0px;}
.logo_icon img{width:70px; height:70px;}
.logo_icon{margin-top:70px;}
.second_row1{margin-top:280px;}
.logo_icon P{color:#FFFFFF; margin-top:15px;}
.logo_icon a{text-decoration:none;}

/*Being Hover effect on Hover*/

/*end Hover effect on Hover*/

.logo_icon a:hover >#image{}


*{margin:0px; padding:0px;}

/*Being Search bar*/
.search {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
	z-index:5;
    
    -webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;

    -webkit-transform: translate(0px, -100%) scale(0, 0);
	-moz-transform: translate(0px, -100%) scale(0, 0);
	-o-transform: translate(0px, -100%) scale(0, 0);
	-ms-transform: translate(0px, -100%) scale(0, 0);
	transform: translate(0px, -100%) scale(0, 0);
    
    opacity: 0;
}

.search.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -moz-transform: translate(0px, 0px) scale(1, 1);
	-o-transform: translate(0px, 0px) scale(1, 1);
	-ms-transform: translate(0px, 0px) scale(1, 1);
	transform: translate(0px, 0px) scale(1, 1); 
    opacity: 1;
}

.search input[type="search"] {
    position: absolute;
    top: 50%;
    width: 100%;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    border: 0px;
    margin: 0px auto;
    margin-top: -51px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
}
.search .btn {
    position: absolute;
    top: 50%;
    left: 45%;
    margin-top: 61px;
    margin-left: -45px;
}
.search .close {
    position: fixed;
    top: 15px;
    right: 15px;
    color: #fff;
	background-color: #428bca;
	border-color: #357ebd;
	opacity: 1;
	padding: 10px 17px;
	font-size: 27px;
}

.btn-search{background:none; width:200px; height:40px; border:1px solid #FFFFFF; margin-left:-150px;}



/*being operator page*/
.channel{width:240px; height:165px; background:#262626; float:left; margin-left:20px; position:relative; margin-top:10px;}
.second_row{margin-top:10px;}

.chnl_layer1{width:100%; height:11%; background:#262626; position:absolute; text-align:center; line-height:22px;}

.chnl_layer2{width:100%; height:11%; background:#262626; position:absolute; bottom:0; text-align:center; line-height:15px;}
.edit{width:100%; height:100%; background:rgba(0,0,0,0.5); position:absolute; border:2px solid #FFFF00; opacity:0;}
.edit ul{list-style:none; margin-top:65px;}
.edit ul li{float:left; width:30px; height:30px; background:#262626; margin-left:15%; border-radius:60px; line-height:30px;}
.channel p{color:#FFFFFF; font-size:13px;}
.edit:hover{opacity:1; cursor:pointer;}
.create_channel{width:130px; height:130px;}
.search_bar{margin-right:18px; width:230px; float:right;}

.inner-addon {
  position: relative;
  width:220px;
  float:right;
  margin-bottom:10px;
  
}

/* style glyph */
.inner-addon .glyphicon {
  position: absolute;
  padding: 5px; padding-right:40px;
  pointer-events: none;
}

/* align glyph */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

.search_bar{ background:#d2d6e6; border-radius:0px; height:25px; margin-right:37px;}
.search_bar::placeholder{color:#000000;}
.search_bar:focus{border:2px solid #FFFF00;}

/*being operator page*/




/*Being form popup*/
#form {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color:#1e1e1e;
	z-index:5;
    
    -webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;

    -webkit-transform: translate(0px, -100%) scale(0, 0);
	-moz-transform: translate(0px, -100%) scale(0, 0);
	-o-transform: translate(0px, -100%) scale(0, 0);
	-ms-transform: translate(0px, -100%) scale(0, 0);
	transform: translate(0px, -100%) scale(0, 0);
    
    opacity: 0;
}

#form.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -moz-transform: translate(0px, 0px) scale(1, 1);
	-o-transform: translate(0px, 0px) scale(1, 1);
	-ms-transform: translate(0px, 0px) scale(1, 1);
	transform: translate(0px, 0px) scale(1, 1); 
    opacity: 1;
}


   
	
#form .close {

width:20px;
height:20px;
border:1px solid #FFFFFF;
border-radius:20px;
font-size:12px;
background:#FFFFFF;
   
}

.btn-search{background:none; width:200px; height:40px; border:1px solid #FFFFFF; margin-left:-150px; position:relative;}

.form_create{width:650px; height:420px; background:#111111; margin-left:19%; margin-top:7%; position:relative; float:left;}
.title{width:100%; height:5%; background:#252324; margin-top:-10px;}

.title ul{list-style:none;}
.title ul li{float:left; color:#FFFFFF;}
.title_create{margin-left:10px;}
.crose{margin-left:520px;}
.content ul{list-style:none;}
.content ul li{width:49%; margin-left:3px; height:250px; float:left; padding:10px; color:#FFFFFF;}

.title_formed{width:300px; height:35px; background:#535353; padding-left:10px; border:none;}
.title_formed::placeholder{color:#FFFFFF;}
.form_cate{width:300px; height:35px; background:#535353; margin-top:10px; color:#FFFFFF; padding-left:10px;}
.btn_chl{width:120px; height:30px; border: 1px solid #FFFF00; background:none; color:#FFFFFF; margin-top:15px; font-size:12px; margin-left:10px;}



select {

  /* styling */
  background-color: white;

  
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reset */

  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}


/* arrows */


.selectdiv{position:relative;}

.selectdiv:after {
    content: '\f078';
    font: normal normal normal 17px/1 FontAwesome;
    color:#FFFFFF;
	right:10px;
    top: 0px;
    height: 34px;
	position:absolute;
   
}






select.minimal {
  background-image:
    linear-gradient(45deg, transparent 70%, gray 70%),
    linear-gradient(135deg, gray 70%, transparent 70%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

select.minimal:focus {
  background-image:
    linear-gradient(45deg, green 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, green 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  border-color:;
  outline: 0;
}


/* CMT */
::placeholder {
  color:#FFFFFF;
  font-size:14px;;
}

.filter{width:100%; height:40px;  margin-top:5px; background:#FF0000;}
.youtube{width:100%; overflow:scroll; height:600px;}
.lab1{color:#FFFFFF; font-size:12px; margin-right:8px;}
.first{margin-left:22px;}
.label1{font-size:13px;}
.col1{width:42%; height:auto; float:left;}
.col2{width:58%; height:auto; float:left;}
.cmt_form{margin-top:5px; width:100%;}
.textarea2{margin-top:5px; background:#535353; border:1px; color:#FFFFFF; width:100%; height:165px; padding-left:10px; padding-top:10px;}
.CMT_form{width:65%!important; margin-right:-3px;}
.CMT_form2{width:60%; margin-right:-3px;}
.form_left{width:66%; margin-top:8px; height:35px;  background:#afafaf; border:none; padding-left:10px;}
.form_left1{width:66%; margin-top:8px; height:35px;  background:#afafaf; border:none; padding-left:10px;}
.form_right{width:60%; margin-top:8px; height:35px; background:#afafaf; border:none; padding-left:10px;}
.form_right1{width:60%; margin-top:8px; height:35px; background:#afafaf; border:none; padding-left:10px;}

.news_thumbnails{width:100%; height:60px; border:1px solid #FFFFFF; margin-top:10px; background:#535353; margin-left:10px;}
.image_thum{width:67px; height:52px; margin-top:3px;}
.image_arraw{margin-left:6px;}
.curntThum{width:150px; height:90px;}
.curntitle{color:#FFFFFF; margin-left:10px; margin-top:10px;}
.iconsplus{width:42px; height:20px; margin-left:10px;}
.youtube{height:480px!important; overflow-y:scroll; overflow-x:hidden;}
.youtube::-webkit-scrollbar{width:10px; background:#758c9f;}
.youtube::-webkit-scrollbar-thumb {background:#000000; height:100px;}



/*Being the pop frind choose list module*/
.fade{background:none!important;}
.modal-content{background:#FFFFFF; height:400px; width:200px; margin-left:400px; margin-top:105px; border-radius:0px;}
.modal-header{background:#424242; height:20px!important; color:#FFFFFF; font-size:14px; text-align:center;}
.modal-title{margin-top:-10px;}
.modal-body{margin:0px; padding:5px;}
.search_pop::placeholder{color:#FFFFFF; font-size:12px; padding-left:5px;}
.search_pop{background:#000000; border:none; border-radius:10px; width:90%; height:30px; margin-left:8px; margin-top:8px;}
.list_image{width:20px; height:20px; border-radius:20px; float:left; margin-left:5px;}
.friName{float:left; margin-left:10px;}
.check{float:right; margin-right:5px!important;}
.modal-footer{float:left;}
.list{width:100%; height:260px; overflow-y: scroll;
overflow-x: hidden; margin-top:-19px;}
.list::-webkit-scrollbar{background:#02192d; width:8px;}
.list::-webkit-scrollbar-thumb {background:#758c9f; height:100px;}
.btn_option{width:80px; height:20px; background:none; border:none; margin-top:-10px!important;}
.modal-footer{height:30px; line-height:5px; margin-top:-5px;}





/*Being Search Filter Friend dropdown Select Option*/


.label--checkbox {
  position: relative;
  font-family: Arial, sans-serif;
  line-height: 135%;
  cursor: pointer;
  margin-top:-6px;
  width:100%;
 


 
}


.checkbox:before {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  content: "";
  position: absolute;
  left: 0;
  z-index: 1;
  width: 1rem;
  height: 1rem;
  border: 2px solid #FFFFFF;
  
 
}
.checkbox:checked:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  height: .5rem;
  border-color: #009688;
  border-top-style: none;
  border-right-style: none;
  
}
.checkbox:after {
  content: "";
  position: absolute;
  top: -0.125rem;
  left: 0;
  width: 1.1rem;
  height: 1.1rem;
  background: #fff;
  cursor: pointer;
  border:2px solid #FFFFFF;
}

.labl{float:left!important; margin-right:5px; font-size:10px!important; font-family:arial;}
.list{list-style:none; margin-top:0px!important; height:240px; overflow-y:scroll; overflow-x:hidden; margin-top:-18px!important;}
.list li{margin-top:0px;}
.img_cir{width:20px; height:20px; border-radius:20px; float:left; margin-right:10px;}
.checkbox{float:right; margin-right:5px!important;}
.list_first{margin-top:12px!important;}
.chek1{margin-right:12px!important;}
.search_fridn{width:80%!important; margin-left:40px; height:30px; padding-right:25px!important; background:#000000;}
.search_fridn::placeholder{color:#FFFFFF!important;}
.search_icon{margin-right:-28px!important; color:#FFFFFF;}



