body { background: #f5c9c5; }
header { margin-top: 30px; }
header a { color: black; text-decoration: none; }
header a:hover { text-decoration: none; }
form { margin-top: 20px; }
form, #results { padding: 0 20px; }
.item {}


.w100{width:100px!important;}

.btn-primary { background: #952b2b; border-color: #957575; }
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {background: #782b2b;  border-color: #952b2b; }




@media(max-width:1370px) and (min-width:1350px)

{


.item iframe{width:100px!important; height:70px; float:left; margin-top:5px!important;}


}
