.body {
    background-color: rgb(248, 248, 248);
    margin: 0;
    font-family: roboto;
}
.forgotScreen , .forgotConfirm{
	display:none;
}
.forgotConfirm{
	  padding: 47px 7px;

}
.textdiv{
	width: 269px;
    text-align: center;
    margin: auto;
    font-size: 17px;
    color: rgb(189, 175, 175);
}
.confirmtext{
	width: 390px;
    font-size: 20px;
    margin: auto;
    text-align: center;
    color: rgb(189, 175, 175);
}
.emailfield{
	text-align:left;
}
.header {
    padding: 25px;
    text-align: center;
    background: rgb(255, 255, 255);
    /* color: red; */
    font-size: 20px;
    box-shadow: 1px 4px 1px rgb(240, 241, 241);
}

.headerlogo {
    height: 32px;
    float: left;
    margin-top: -17px;
}

.container,.forgotScreen , .forgotConfirm {
    /* height: 88%; */
    width: 35%;
    background-color: rgb(255, 255, 255);
    margin-top: 37px;
    transform: translate(95%);
    border-radius: 13px;
    box-shadow: 0 0 10px rgb(197, 202, 202)
}

.logo1 {
    text-align: center;
}

.logo {
    width: 20%;
    margin-top: 30px;
}

.divInput {
    margin-left: 34px;
}

.label {
    color: rgb(189, 175, 175);
    font-size: 20px;
    /* font-family: sans-serif; */
}

.divbtn {
    text-align: center;
}

.divforgot {
    text-align: center;
    color: rgb(159, 220, 243);
}

.or {
    text-align: center;
    margin-top: 37px;
}

.OR {
    color: rgb(156, 137, 137);
    font-size: 14px;
}

.divaccount {
    text-align: center;
    color: rgb(123, 130, 134);
    margin-top: 10px;
}

.divsignup {
    text-align: center;
}

.inputBox {
    width: 88%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: rgb(241, 241, 241);
    height: 58px;
}

.buttonlogin {
    background-color: rgb(97, 193, 254);
    color: white;
    padding: 14px 20px;
    margin: 12px 0;
    border: none;
    cursor: pointer;
    width: 60%;
    margin-left: -20px;
    border-radius: 7px;
    height: 51px;
    font-size: 22px;
    text-align: center;
}

.buttonsignup,.buttonOK {
    background-color: rgb(97, 193, 254);
    color: white;
    padding: 14px 20px;
    margin: 32px 0;
    border: none;
    cursor: pointer;
    width: 56%;
    margin-left: 4px;
    border-radius: 7px;
    height: 51px;
    font-size: 19px;
    text-align: center;
}
.buttonOK{
	width:26%;
}
.buttonForgot {
    background-color: rgb(97, 193, 254);
    color: white;
    padding: 14px 20px;
    margin: 32px 0;
    border: none;
    cursor: pointer;
    width: 36%;
    margin-left: 4px;
    border-radius: 7px;
    height: 51px;
    font-size: 19px;
    text-align: center;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(189, 175, 175);
    opacity: 1;
    /* Firefox */
}

a:link {
    text-decoration: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.footer {
    width: 100%;
    margin-top: -163px;
    background-color: rgb(248, 248, 248);
}

body {
    font-family: "Open Sans";
    font-size: 14px;
}

form label {
    margin-bottom: 3px;
    display: block;
}

form .error {
    color: #ff0000;
}