@media(max-width:550px) and (min-width:100px) {
    .container {
        width: 80%;
        transform: translate(14%);
        /* height: 78%; */
    }
    .buttonlogin {
        font-size: 16px;
        height: 47px;
        width: 45%;
    }
    .divforgot {
        font-size: 13px;
    }
    .divaccount {
        font-size: 13px;
    }
    .buttonsignup {
        font-size: 14px;
        height: 47px;
        width: 39%;
    }
    .footer {
        margin-top: -36px;
    }
}

@media(max-width:1050px) and (min-width:600px) {
    .container {
        width: 64%;
        text-align: center;
        transform: translate(31%);
    }
    .divInput {
        margin-top: 29px;
    }
    .label {
        float: left;
        /* margin-right: 13px; */
        margin-left: 31px;
        font-size: 21px;
    }
    .inputBox {
        height: 96px;
        font-size: 23px;
    }
    .buttonlogin {
        height: 79px;
        width: 202px;
    }
    .divforgot {
        font-size: 23px;
    }
    .OR {
        font-size: 22px;
    }
    .divaccount {
        font-size: 22px;
    }
    .buttonsignup {
        height: 79px;
        width: 197px;
    }
    .footer {
        margin-top: -92px;
    }
}